<div class='index-blades'>
  <% if !@food_trucks.empty? %>
    <% @food_trucks.each do |food_truck| %>
      <div class="food-trucks-blade">
        <h4>
          <%= image_tag(food_truck.truck_photo.url(:thumb)) %>
          <div class="stars">
            <% food_truck.average_rating.round.times do %><%= image_tag('star.png') %><% end %>
          </div>
          (<%= food_truck.average_rating.round(1) %>)
          <%= link_to food_truck.name, food_truck %> -
          <% if food_truck.reviews.size != 0 %>
            <small>
              <%= link_to "#{food_truck.reviews.size} reviews", food_truck %>
            </small>
          <% end %>
        </h4>
        <% if food_truck.reviews.size != 0 %>
          <%= image_tag(food_truck.reviews.last.user.profile_photo, class: 'review-thumb') %>
          <div class="stars">
            <% food_truck.reviews.last.rating.times do %><% end %>
          </div>
          <span class="yellow">
            <%= food_truck.reviews.last.user.first_name + " " + food_truck.reviews.last.user.last_name %>
          </span>
          <br>
          <%= "#{food_truck.reviews.last.body.split('.')[0..3].join('.')}..." %>
        <% end %>
      </div>
    <% end %>

    <%= paginate @food_trucks, window: 2 %>
  <% end %>
</div>

<div class="right">
  <h3>Latest Reviews</h3>
  <% if @reviews.size != 0 %>
    <% @reviews.each do |r| %>
      <div class="latest-review">
        <%= image_tag(r.user.profile_photo) %>
        <div class="stars">
          <% r.rating.times do %><%= image_tag('star.png') %><% end %>
        </div>
        <%= link_to r.food_truck.name, food_truck_path(r.food_truck) %><br>
        <span class="yellow">
          <%= r.user.first_name + " " + r.user.last_name %>
        </span><br>
        <%= r.body %>
      </div>
    <% end %>
  <% end %>
</div>
