<h2><%= @food_truck.name %></h2>

<%= link_to @food_truck.website, @food_truck.website %><br><br>

<%= @food_truck.description %><br>

<% if user_signed_in? %>

  <h3>Add A Review</h3>

  <%= simple_form_for([@food_truck, @review]) do |f| %>
    <%= f.input :rating %>
    <%= f.input :body %>
    <%= f.button :submit %>
  <% end %>
<% end %>

<br><br>

<% @reviews.each do |r| %>
  Posted by: <%= r.user.first_name + " " + r.user.last_name %><br>
  Created at: <%= r.created_at.getlocal.strftime("%I:%M%p, %m/%d/%Y") %><br>
  Upvotes: <%= r.votes.where(vote: 'up').count %> / Downvotes:
  <%= r.votes.where(vote: 'down').count %><br>
  Rating: <% r.rating.to_i.times do %>&#9733; <% end %><br>
  <%= r.body %>
  <br><br>
<% end %>
