<div class="food-truck-show-profile">
  <div class="map">
    <%= image_tag(@food_truck.truck_photo) %>
    <iframe src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_KEY'] %>&q=<%= @location %>" width="480" height="300" frameborder="0" style="border:0"></iframe>
  </div>
</div>

<div class='food-truck-show-reviews'>
  <h2 class="orange"><%= @food_truck.name %></h2>
  <%= link_to @food_truck.website, @food_truck.website %>
  <br><br>
  <%= @food_truck.description %>
  <br><br>
  <%= link_to "Create a New Review!", new_food_truck_review_path(@food_truck), class: 'btn btn-warning btn-lg' %>
  <br><br>
  <% @reviews.each do |r| %>
    <% review_users_up = []%>
    <% review_users_down = []%>
    <% r.votes.each do |v|%>
      <% if v.vote == 'up' %>
        <% review_users_up << v.user_id %>
      <% else %>
        <% review_users_down << v.user_id %>
      <% end%>
    <% end%>
    <div class='food-truck-review-blade'>
      <% if review_users_up.include?(current_user.id) %>
        <div class="vote">
          <%= image_tag('up.png') %> <%= link_to image_tag('down-disabled.png'), review_votes_path(r, r.votes.where(user_id: current_user).first.id, vote: { vote: "down" } ), method: :post %>
        </div>
      <% elsif review_users_down.include?(current_user.id) %>
        <div class="vote">
          <%= link_to image_tag('up-disabled.png'), review_votes_path(r, r.votes.where(user_id: current_user).first.id, vote: { vote: "up" } ), method: :post %> <%= image_tag('down.png') %>
        </div>
      <% else %>
        <div class="vote">
          <%= link_to image_tag('up.png'), review_votes_path(r, vote: { vote: "up" } ), method: :post %>
          <%= link_to image_tag('down.png'), review_votes_path(r, vote: { vote: "down" } ), method: :post %>
        </div>
      <% end %>
      <%= image_tag(r.user.profile_photo) %>
      <div class="stars">
        <% r.rating.to_i.times do %><%= image_tag('star.png') %><% end %>
      </div>
      <span class="orange">
        <%= r.user.first_name + " " + r.user.last_name %>
      </span>
       at: <%= r.created_at.getlocal.strftime("%I:%M%p, %m/%d/%Y") %><br>
      <span class="yellow">Upvotes: <%= r.votes.where(vote: 'up').count %> / Downvotes:
      <%= r.votes.where(vote: 'down').count %><br></span>
      <%= r.body %>
    </div>
  <% end %>
  <%= paginate @reviews, window: 2%>
</div>

<div class="right">
  <h3>Try these food trucks!</h3>
  <% if @food_trucks.size != 0 %>
    <% @food_trucks.each do |t| %>
      <div class="latest-review">
        <%= image_tag(t.truck_photo.url(:thumb)) %>
        <div class="stars">
          <% t.average_rating.ceil.times do %><%= image_tag('star.png') %><% end %>
        </div>
        <%= link_to t.name, t %><br>
        <%= t.description %>
      </div>
    <% end %>
  <% end %>
</div>
