<div class="food-truck-show-profile">
  <%= image_tag(@food_truck.truck_photo) %>
  <%= link_to "Create a New Review!", new_food_truck_review_path(@food_truck), class: 'btn btn-warning btn-lg' %>
  <h2><%= @food_truck.name %></h2>
  <%= link_to @food_truck.website, @food_truck.website %>
  <br><br>
  <%= @food_truck.description %>
  <br><br>
  <% if !@location.nil? %>
    <iframe src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_KEY'] %>&q=<%= @location %>" width="300" height="300" frameborder="0" style="border:0"></iframe>
  <% end %>
</div>

<div class='food-truck-show-reviews'>
  <% @reviews.each do |r| %>
    <div class='food-truck-review-blade'>
      <%= image_tag(r.user.profile_photo) %>
      <% r.rating.to_i.times do %>&#9733; <% end %>
      <span class="orange">
        <%= r.user.first_name + " " + r.user.last_name %>
      </span>
       at: <%= r.created_at.getlocal.strftime("%I:%M%p, %m/%d/%Y") %><br>
      <span class="yellow">Upvotes: <%= r.votes.where(vote: 'up').count %> / Downvotes:
      <%= r.votes.where(vote: 'down').count %><br></span>
      <%= r.body %>
      <br>
      <% if r.votes.where(user_id: current_user, vote: 'up').size > 0 %>
        Upvote / <%= link_to "Downvote", review_votes_path(r, r.votes.where(user_id: current_user).first.id, vote: { vote: "down" } ), method: :post %>
      <% elsif r.votes.where(user_id: current_user, vote: 'down').size > 0 %>
        <%= link_to "Upvote", review_votes_path(r, r.votes.where(user_id: current_user).first.id, vote: { vote: "up" } ), method: :post %> / Downvote
      <% else %>
        <%= link_to "Upvote", review_votes_path(r, vote: { vote: "up" } ), method: :post %> /
        <%= link_to "Downvote", review_votes_path(r, vote: { vote: "down" } ), method: :post %>
      <% end %>
    </div>
  <% end %>
  <%= paginate @reviews, window: 2%>
</div>


