<!DOCTYPE html>
<html>
<head>
  <title>What The Truck?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash.any? %>
  <%= flash[:notice] %>
  <br>
<% end %>

<%= yield %>

</body>
</html>
